#intersection {
  position: relative;
  background-color: lightgrey;
  border: 5px solid black;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.light {
  border: 5px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px;
  z-index: 1;
}

.east-and-west-wrapper {
  justify-content: space-between;
  margin: 50px 0px;
}

.east > .light,
.west > .light {
  background-color: red;
}

.north > .light,
.south > .light {
  background-color: green;
}

.south {
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.north {
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.go > .light {
  background-color: green;
}

.stop > .light {
  background-color: red;
}

.caution > .light {
  background-color: orange;
}

@keyframes car-drive-north {
  from {
    transform: translateY(500px) rotate(180deg);
  }

  to {
    transform: translateY(-500px) rotate(180deg);
  }
}

@keyframes car-drive-south {
  from {
    transform: translateY(-500px) rotate(90deg);
  }

  to {
    transform: translateY(500px) rotate(90deg);
  }
}

@keyframes car-drive-west {
  from {
    transform: translateX(300px) rotate(90deg);
  }

  to {
    transform: translateX(-500px) rotate(90deg);
  }
}

@keyframes car-drive-east {
  from {
    transform: translateX(-500px);
  }

  to {
    transform: translateX(300px);
  }
}

.car,
.car2 {
  background-repeat: no-repeat;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.car {
  width: 50px;
  height: 100px;
  padding: 0;
  margin: 0;
  background-size: 50px 100px;
  background-image: url("car.png");
}

.car2 {
  width: 120px;
  height: 70px;
  background-size: 120px 50px;
  background-image: url("car-white.png");
}

.car-northbound {
  position: absolute;
  bottom: 0;
  left: 50%;

  animation-name: car-drive-north;
}

.car-southbound {
  position: absolute;
  top: 0;
  right: 50%;

  animation-name: car-drive-south;
}

.car-westbound {
  position: absolute;
  bottom: 50%;
  right: 0;

  animation-name: car-drive-west;
}

.car-eastbound {
  position: absolute;
  top: 50%;
  left: 50%;

  animation-name: car-drive-east;
}

button {
  font-size: larger;
  font-weight: 900;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
  border: 3px solid black;
  border-radius: 20%;
}

button:hover {
  border: 3px dashed black;
}
